@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$fontPrimary: "Inter", sans-serif;


$color-1: rgb(2, 115, 115);
$color-2: rgb(2, 89, 89);
$color-3: rgb(9, 38, 38);
$color-4: rgb(3, 166, 150);
$color-5: rgb(169, 217, 208);


$white: #fff;
$black: rgb(48, 48, 48);


// $color-1: rgb(27, 120, 242);
// $color-2: rgb(1, 35, 64);
// $color-3: rgb(27, 142, 242);
// $color-4: rgb(18, 97, 166);
// $color-5: rgb(1, 28, 38);



